@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

@mixin flexProp($drxn, $justify, $align) {
  display: flex;
  flex-direction: $drxn;
  justify-content: $justify;
  align-items: $align;
}

.deposit {
  @include flexProp(column, center, center);
  width: 100%;
  background: url(../../../assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  object-fit: contain;
  height: 88vh;

  svg {
    color: var(--background-color) !important;
  }

  .deposit_heading {
    color: rgb(105, 105, 105);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }

  .depositForm {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 90%;
    border-radius: 10px;
    background: white;
    @include flexProp(row, space-around, center);

    .coinsHeading {
      letter-spacing: 0rem;
      font-weight: 600;
    }

    .depositCoins {
      padding: 0 1rem;
      width: 40%;

      .coinAddressDiv {
        h3 {
          color: #bbbbbb;
          font-weight: 300;
        }

        .coinAddress {
          background-color: white;
          border: 1px solid #bbbbbb;
          border-radius: 4px;
          padding: 0 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;

          &:hover {
            background-color: #bbbbbb;
            cursor: pointer;

            p,
            svg {
              color: white !important;
            }
          }

          .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
            &:hover {
              background: none !important;
            }
          }

          p {
            margin: 0 auto;
            text-align: center;
            color: #302e2e;
            font-weight: bold;
            font-size: 1.5vmax;
            padding: 0 0.5rem;
          }

          svg {
            color: #bbbbbb !important;
            font-size: 2vmax;
          }
        }
      }

      .trade_div {
        h3 {
          color: #bbbbbb;
          font-weight: 300;
        }

        .trade_btn {
          background-color: #33353d !important;
          color:  var(--background-color) !important;
          margin: 5px !important;
          font-weight: 600 !important;
        }
      }
    }

    .checkTranscation {
      padding: 0 1rem;
      margin: 1rem;
      border-radius: 5px;
      width: 40%;
      background-color: #f6f6f6;

      .checkTransct_div {
        width: 50%;
        margin: 0rem 0rem 0rem auto;

        h3 {
          color: var(--background-color);
          border-radius: 8px;
          border: 2px solid var(--background-color);
          font-size: 0.625rem;
          text-align: center;
          padding: 0.5rem 0rem;
          letter-spacing: 1px;

          &:hover {
            cursor: pointer;
            color: white;
            background-color: var(--background-color);
          }
        }
      }

      .balanceDiv {
        h3 {
          color: #bbbbbb;
          font-weight: 300;
          font-size: 1rem;
        }
      }

      &:nth-child(2) .balanceDiv h3 {
        display: flex;
        @include flexProp(row, flex-start, center);

        svg {
          margin-left: 5px;
          color: #bbbbbb !important;
        }
      }
    }
  }
}
.coinsImg {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  letter-spacing: 2.00938em !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: var(--background-color) !important;
}

/*
 ______________________________________________
|                                              |
|            MEDIA QUERIES CSS                 |
|______________________________________________|
*/

@media screen and (max-width: 600px) {
  .deposit {
    height: auto;
    .depositForm {
      @include flexProp(column, space-around, center);

      .depositCoins {
        width: auto;
        margin: 1rem;
      }

      .checkTranscation {
        width: auto;

        .checkTransct_div {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
