.prfi_div{
    padding: 1rem;
    height: 100%;
    background: #e1e1e1;
}

.prfi_flex2.dfgh{
    margin-left: 15px;
}

.prfi_title{
    font-size: 24px;
    margin: 0.5rem auto;
    font-weight: bold;
    font-family: "Lato-Regular" !important;
    text-transform: uppercase;
    color: #343434;
}

.prfi_box{
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    background-color: white !important;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prfi_name{
    font-size: 1.8rem;
    margin: 0.5rem auto 0 auto;
    color: #4a4a4a;
    font-weight: 500;
}

.prfi_email{
    margin: 0 auto;
    font-size: 0.9rem;
    color: #a6a6a6;
}
.prfi_chngpsbtn{
    margin: 0.5rem auto;
    padding: 0.5rem;
    color: #fff;
    background: #363328;
    border-radius: 5px;
}

.prfi_chngpsbtn:hover {
    background: var(--background-color);
    color: white;
}

.prfi_btnbox{
    margin-top: 2rem;
    width: 100%;
}

.prfi_flex1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}

.prfi_flex2{
    display: flex;
    align-items: center;
}

.prfi_flex3{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.prfi_flex3 p{
    font-size: 0.9rem;
    color: #5c5b5b;
}

.copyAlert{
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
}

.prfi_text{
    font-size: 1.1rem;
    margin: 0.8rem auto;
    color: #585858;
}

.prfi_svg{
    height: 2rem !important;
    width: 2rem !important;
    margin-right: 10px !important;
    color:  var(--background-color) !important;
    border-radius: 1px solid grey !important;
    
}

@media (max-width : 330px){
    .prfi_div{
       margin: auto;
       width:88%;
    }

    .prfi_flex1{
        margin: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .prfi_text{
        font-size: 2vmax;
        margin: 0.3rem auto;
    }
    
}

@media (max-width : 500px) and (min-width : 331px){
    .prfi_div{
       margin: auto;
       width:90%;
    }

    .prfi_flex1{
        margin: 0 0.5rem;
    }
}

@media (max-width : 910px) and (min-width : 501px){
    .prfi_div{
       margin: auto;
        width:28rem;
    }
}